    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About predicto.live</h2>
                <p>predicto.live is a the manifestion of the philosophy of relentless incrementalism.
                   By facilitating a solid platform for data science, it pushes the analyst to focus on and better the facilities of the problem at hand.
                    
                     predicto.live lets you accelerate your model development success with the latest machine learning algorithms and the team you have in place. The platform incorporates the knowledge, experience, and best practices of the world’s leading data scientists, delivering truly augmented intelligence, accuracy, transparency, and customization to help you achieve your department objectives with much less time and effort.</p>               
                
                
            </div>
        </div>
    </section>
