    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download predicto.live</h2>
                    <p>You can download predicto.live as a package to try out with your installation of R. </p>
                    <p>Contact <a href="mailto:{{ site.email }}">{{ site.email }} </a>  for detailed installation guide. </p>
                    
                </div>
            </div>
        </div>
    </section>
